body{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Prompt', sans-serif;
}


/* header start */
header{
    background-color: rgba(0,0,0, 8);
    background-blend-mode: overlay ;
}
/* header end */



/* Our Package section start  */
.deepadhar-cards{
    min-height: 550px; 
}
.deepadhar-highlighted-card{
    border-radius: 26px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
/* Our Package section end  */