body{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Prompt', sans-serif;
}




/* header start */
header{
    background-color: rgba(0,0,0, 8);
    background-blend-mode: overlay ;
}
/* header end */
.deep-border{
    border: 50px solid blue;
}